/* ===============
1200px
========================*/
@media (max-width: 1200px) {
  /* header */
  .search_area .search {
    width: 190px;
  }
  .profile_area ul {
    width: 260px;
  }
  /* right side */
  .friend_request
    .friends_request_content
    .friend_content
    .friend_btn
    .confirm_btn {
    padding: 9px 8px 11px 8px;
  }
  .friend_request
    .friends_request_content
    .friend_content
    .friend_btn
    .delete_btn {
    padding: 10px 10px 12px 10px;
  }
  .post_area .post_img iframe{
    height: 300px;
  }
}
/* ============
1100px
============*/
@media (max-width: 1100px) {
  .search_area .search {
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    column-gap: 0px;
  }
  .search_area .search span {
    font-size: 24px;
  }
  .search_area .search input {
    display: none;
  }
  .menu_area ul li:nth-child(5) {
    display: none;
  }
  .menu_area ul li:nth-child(6) {
    display: block;
  }
  .profile_area ul li:nth-child(1) {
    display: inline-block;
  }
  .profile_area ul li:nth-child(2) {
    display: none;
  }
  .profile_area ul {
    width: unset;
  }
  /* aside left side */
  .left_side {
    display: none;
  }
  .right_side {
    flex-basis: 30%;
  }
  .middle_section {
    flex-basis: 70%;
  }
  .post_area .post_img iframe{
    height: 333px;
  }
}
/* ==============
900px
==================*/
@media (max-width: 900px) {
  .menu_area ul li a {
    width: 75px;
  }
  /* aside left side */
  .right_side {
    display: none;
  }
  .middle_section {
    margin: 0 auto;
    max-width: 680px;
    flex-basis: 100%;
  }
}
/* ===============
700px
==================*/
@media (max-width: 700px) {
  .search_area .menu_bars a {
    display: flex;
  }
  .menu_area ul {
    display: none;
  }
  /* middle */
  .middle_section {
    padding: 80px 0px 0 0px;
  }
  .story_Wrapper .story {
    flex-basis: 25%;
  }
  .story_Wrapper .story.story_4 {
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .story_Wrapper .story.story_5 {
    display: none;
  }
}
/* ===============
500px
==================*/
@media (max-width: 500px) {
  .story_Wrapper .story {
    flex-basis: 33.3333%;
  }
  .story_Wrapper .story.story_4 {
    display: none;
  }
  .story_Wrapper .story.story_3 {
    border-radius: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  /* create post */
  .create_post .create_post_category {
    column-gap: 5px;
  }
  .create_post .create_post_category div img {
    height: 18px;
    width: 18px;
  }
  .create_post .create_post_category div h4 {
    font-size: 13px;
    line-height: 15px;
  }
  .counting p span{
    display: none;
  }
  .post_area .post_img iframe{
    height: 270px;
  }
}
@media (max-width: 430px) {
  .search_area {
    column-gap: 5px;
  }
  .search_area .menu_bars a {
    height: 30px;
    width: 30px;
  }
  .profile_area ul li:nth-child(1) a {
    display: none;
  }
  .create_post .create_post_text form input{
    font-size: 13px;
  }
  .create_post .create_post_category div h4 span{
    display: none;
  }
  .post_area .like_area .like_icon a{
    column-gap: 5px;
    font-size: 13px;
  }
  .post_area .like_area .like_icon a i{
    font-size: 15px;
  }
  .post_area .comment_area .comment_box form input{
    font-size: 12px;
  }
  .post_area .post_img iframe{
    height: 230px;
  }
}
@media (max-width: 350px){
  .post_area .counting .like_counting{
    column-gap: 5px;
  }
  .post_area .counting .like_counting .emoji img {
    width: 15px;
    height: 15px;
  }
  .post_area .counting p{
    font-size: 12px;
  }
  .post_area .like_area .like_icon a{
    font-size: 12px;
  }
  .post_area .like_area .like_icon a i{
    font-size: 12px;
  }
  .post_area .comment_area .comment_box{
    flex-wrap: wrap;
  }
  .post_area .comment_area .comment_box form{
    flex-basis: 100%;
  }
  .post_area .comment_area .comment_box ul{
    flex-basis:100%;
    justify-content: flex-start;
  }
  .post_area .comment_area .comment_box form input{
    font-size: 15px;
  }
  .post_area .comment_area .comment_box ul li a span{
    font-size: 15px;
  }
  .post_area .like_area .like_icon a .like_tooltip img {
    height: 26px;
    width: 26px;
  }
  .post_area .post_img iframe{
    height: auto;
  }
}